{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "browserslist": [
          "> 2%",
          "IE 11"
        ]
      }
    ]
  ]
}