{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [
            "> 2%",
            "IE 11"
          ]
        }
      }
    ]
  ]
}