@use '../global/variables' as variables;

.heroheader {
  background: variables.$main-color;
  color: variables.$base-color;

  &__imagemain {
    max-width: 200px;
    width: 100%;
    margin: auto;

    img {
      width: 100%;
    }
  }

  &__images {
    display: flex;
    justify-content: center;

    &__item {
      max-width: 50px;
      margin: 0 3px;

      img {
        width: 100%;
      }
    }
  }
}

.girlname {
  font-size: 34px;
}

.girlinfo {
  display: flex;
  margin-top: 32px;

  &__item {
    margin-right: 12px;

    &__content {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.showitem {
  max-width: 800px;
  margin: auto;

  &__title {
    font-size: 24px;
    margin: 24px 0;
  }

  &__desc {
    margin-bottom: 24px;
  }
}