.u-flex{
    display:flex !important;
}
.u-flex-center{
    display:flex !important;
    align-items:center !important;
    justify-content:center !important;
}
.u-flex-between{
    display:flex !important;
    justify-content:space-between !important;
}